{% extends "bootstrap/base.html" %}
{% block title %}
    AmbakitiShop
{% endblock %}

{% block navbar %}

{% endblock %}

{% block content %}
                {% block header %}

                <header>
                </header>
                {% endblock %}
                {%block principal %}

                {% endblock %}
                {% block footer %}
                    <footer>
                     <hr>
                        <img src="{{url_for('static',filename='imagenes/academia.jpeg')}}">
                        <br>
                        <address>Sitio desarrollado por alumnos de la Academia de ISC Octubre 2021</address>
                    </footer>
                {% endblock %}

{% endblock %}
