{% extends "bootstrap/base.html" %}
{% block title %}
    AmbakitiShop
{% endblock %}

{% block navbar %}

{% endblock %}

{% block content %}
                {% block header %}
                <header>
                    <h1>Productos tradicionales de Michoacan</h1>
                    <img src="{{url_for('static',filename='imagenes/michoacan.jpeg')}}" width="400px" >
                </header>
                {% endblock %}
                {%block principal %}

                {% endblock %}
                {% block footer %}
                    <footer >
                     <hr>
                        <img src="{{url_for('static',filename='imagenes/academia.jpeg')}}">
                        <br>
                        <address>Sitio desarrollado por alumnos de la Academia de ISC Octubre 2021</address>
                        <a href="/sugerencias/nuevaSugerencia" class="btn btn-success">Enviar Sugerencia</a>
                    </footer>
                {% endblock %}

{% endblock %}
