{% extends "comunes/base.html" %}
{% block navbar %}
   {% include 'comunes/menu.html' %}
{% endblock %}
{% block principal %}

    <header>
        <h1>Productos tradicionales de Michoacan</h1>
        <img src="{{url_for('static',filename='imagenes/michoacan.jpeg')}}" width="400px" >
    </header>

    <div class="container">
        <div class="row">
             <main>
                <H1>Bienvenido a AmbakitiShop</H1>
                <p><i>Productos tradicionales de Michoacan</i></p>
             </main>
        </div>
    </div>
{% endblock %}


