{% extends "comunes/base.html" %}
{% block navbar %}
   {% include 'comunes/menu.html' %}
{% endblock %}
{% block principal %}
    <div id="bloqueIndex">
    <header>
        <link href="../static/css/bloquesCentro.css" rel="stylesheet" id="bootstrap-css">
        <div >

              <main>
                <H1>Bienvenido a AmbakitiShop</H1>
                <p><i>Productos tradicionales de Michoacan</i></p>
             </main>

        </div>
    </header>


       <div  class="container">
            <img src="{{url_for('static',filename='imagenes/michoacan.jpeg')}}" width="800px" >
            <div class="row">
               <h1>Productos tradicionales de Michoacán</h1>
            </div>

        </div>
    </div>

{% endblock %}


