<nav class="navbar navbar-inverse">
  <div class="container-fluid">
      <ul class="nav navbar-nav navbar-left">

        <li><a href="/">Inicio</a></li>
        {% if current_user.is_authenticated and (current_user.is_cliente() or current_user.is_admin()) %}
        <li><a href="/pedidos/MisPedidos">Mis pedidos</a></li>
        {% endif %}

      </ul>

      <!-----------------MENU DESCUENTOS ------------->
      <ul class="nav navbar-nav navbar-left">
          <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" >Descuentos
                <span class="caret"></span></a>

              <ul class="dropdown-menu" >
                  <li><a href="/descuentos/consultar">Ver Descuentos</a></li>
                  {% if current_user.is_authenticated and current_user.is_admin() %}
                  <li><a href="/descuentos/nuevo">Nuevo Descuentos</a></li>
                  {% endif %}
              </ul>

          </li>
      </ul>

      <!-----------------MENU PRODUCTOS ------------->

      <ul class="nav navbar-nav navbar-left">
          <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" >Productos
                <span class="caret"></span></a>
              <ul class="dropdown-menu" >
                  <li><a href="/productos/consultarProductos">Ver productos</a></li>
                   {% if current_user.is_authenticated and current_user.is_admin() %}
                  <li><a href="/productos/agregarProductoRopa">Agregar Prenda</a></li>
                  <li><a href="/productos/agregarProductoConsumible">Agregar Comestible</a></li>
                  <li><a href="/productos/agregarProductoSuvenir">Agregar Suvenir</a></li>
                  {% endif %}
              </ul>
          </li>
      </ul>

      <!--------------------------------------------->
      <!-----------------MENU USUARIOS ------------->
       {% if current_user.is_authenticated and current_user.is_admin() %}
      <ul class="nav navbar-nav navbar-left">
          <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" >Usuarios
                <span class="caret"></span></a>
              <ul class="dropdown-menu" >
                  <li><a href="/usuarios/consultarUsuarios">Consultar Usuarios</a></li>
              </ul>
          </li>
      </ul>
      {% endif %}
      <!--------------------------------------------->
      <!-----------------MENU SUGERENCIAS ------------->
      {% if current_user.is_authenticated and current_user.is_admin() %}
      <ul class="nav navbar-nav navbar-left">
          <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" >Sugerencias
                <span class="caret"></span></a>
              <ul class="dropdown-menu" >
                  <li><a href="/sugerencias/consultarSugerencias">Ver Sugerencias</a></li>
              </ul>
          </li>
      </ul>
      {% endif %}
      <!--------------------------------------------->
      <!-----------------MENU PRENDAS ------------->
      {% if current_user.is_authenticated and current_user.is_admin() %}
      <ul class="nav navbar-nav navbar-left">
          <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" >Ropa
                <span class="caret"></span></a>
              <ul class="dropdown-menu" >
                  <li><a href="/prendas/nueva">Agregar</a></li>
                  <li><a href="/prendas/consultar">Ver </a></li>
              </ul>
          </li>
      </ul>
      {% endif %}
      <!--------------------------------------------->
      <!-----------------MENU TALLAS ------------->
      {% if current_user.is_authenticated and current_user.is_admin() %}
      <ul class="nav navbar-nav navbar-left">
          <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" >Tallas
                <span class="caret"></span></a>
              <ul class="dropdown-menu" >
                  <li><a href="/tallas/nuevo">Agregar</a></li>
                  <li><a href="/tallas/consultar">Ver </a></li>
              </ul>
          </li>
      </ul>
      {% endif %}
      <!--------------------------------------------->

      <!-----------------MENU SABORES ------------->
      {% if current_user.is_authenticated and current_user.is_admin() %}
      <ul class="nav navbar-nav navbar-left">
          <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" >Sabores
                <span class="caret"></span></a>
              <ul class="dropdown-menu" >
                  <li><a href="/sabores/nuevo">Agregar</a></li>
                   <li><a href="/sabores/consultar">Ver</a></li>
              </ul>
          </li>
      </ul>
       {% endif %}
      <!--------------------------------------------->

    <ul class="nav navbar-nav navbar-right">

        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <img src="{{url_for('static',filename='imagenes/perfil.png')}}" alt="Avatar Logo" style="width:38px;" class="rounded-pill">
                {{current_user.nombre}}
                <span class="caret"></span>
            </a>

            <ul class="dropdown-menu" >
                {% if current_user.is_authenticated %}
                <li><a href="/usuarios/editarUsuario">Editar Perfil</a></li>
                <li><a href="/tarjeta/nuevaTarjeta">Agregar Tarjeta</a></li>
                <li><a href="/cerrarSesion">Cerrar Sesion</a></li>
                {% else %}
                <li><a href="/usuarios/login">Iniciar Sesion</a></li>
                {% endif %}
            </ul>
        </li>

        <li><a href="/carrito/consultar"><img src="{{url_for('static',filename='imagenes/carrito.png')}}"> Carrito</a></li>
        <li><a href="/sugerencias/nuevaSugerencia">Enviar Sugerencia</a></li>

    </ul>
  </div>
</nav>