{% extends "comunes/base.html" %}
{% block navbar %}
{% include 'comunes/menu.html' %}
{% endblock %}
{% block principal %}
<head>
  <link href="../static/css/bloquesCentro.css" rel="stylesheet" id="bootstrap-css">
</head>
<div class="container">
<div class="well">
    <h1>Tu carrito  de compras</h1>
    <!--
    <select name="categoria">
        <option>--Selecciona la categoria --</option>
        <option>Refrescos</option>
        <option>Calzado</option>
        <option>Varios</option>
    </select>-->

    <table  class="table table-striped">
        <THEAD>
            <TH>ID</TH>
            <TH>ID USUARIO</TH>
            <TH>ID PRODUCTO</TH>
            <TH>FECHA</TH>
            <th>CANTIDAD</th>
            <TH>PRECIO</TH>
            <TH>IMAGEN</TH>
            <TH>ELIMINAR</TH>
        </THEAD>
        {% for carr in carrito %}
            <tr>
                <td>{{carr.idCarrito}}</td>
                <td>{{carr.Usuarios_idUsuario}}</td>
                <td>{{carr.Productos_idProducto}}</td>
                <td>{{carr.fecha}}</td>
                <td>{{carr.cantidad}}</td>
                <td>{{carr.precio}}</td>
                <td><img src="/productos/imagen/{{carr.Productos_idProducto}}" width="100px"></td>
                <td>
                    <a href="/productos/eliminar/{{carr.Productos_idProducto}}">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
</div>
{% endblock %}