{% extends "comunes/base.html" %}
{% block navbar %}
{% include 'comunes/menu.html' %}
{% endblock %}
{% block principal %}
<head>
	<link href="../static/css/bloquesCentro.css" rel="stylesheet" id="bootstrap-css">
</head>
<div class="container">
<div class="well">
    <h1>Listado de Pedidos</h1>
    <table class="table">
        <thead>
            <th>ID</th>
            <th>USUARIO</th>
            <th>NUMERO TARJETA</th>
            <th>FECHA DE COMPRA</th>
            <th>COSTO ENVIO</th>
            <th>MONTO TOTAL</th>
            <th>ESTATUS</th>
        </thead>
        {% for p in pedidos %}
            <tr>
                <td>{{p.idPedido}}</td>
                <td>{{p.usuario.nombre}}</td>
                <td>{{p.tarjeta.numTarjeta}}</td>
                <td>{{p.fechaCompra}}</td>
                <td>{{p.costoEnvio}}</td>
                <td>{{p.montoTotal}}</td>
                <td>{{p.estatus}}</td>
            </tr>
        {% endfor %}
    </table>
    <br>
        {% if get_flashed_messages() %}
        <div id="mensajeAlert" class="alert alert-success alert-dismissible">
            {% for message in get_flashed_messages() %}
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>{{message}}</strong>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
