#bloque{
    margin: 1rem;
    padding: 1rem;
    /* IMPORTANTE */
    text-align: center;
}
#tabla{
    margin: 0 auto;
}

#caja{
    width: 500px;
    margin: 0 auto;
}
#cajaComentario{
    width: 500px;
    height: 300px;
}
#cajaContrasena{
    width: 500px;
}
#bloqueIndex{
    width: 0px auto;
    height: 0px auto;
    text-align:center;
}
#mensajeAlert{
    width: 500px;
    margin: 0 auto;
}
#color{
    width: 50px;
    height: 50px;
}