{% extends "comunes/base.html" %}
{% block navbar %}
{% include 'comunes/menu.html' %}
{% endblock %}
{% block principal %}
<head>
  <link href="../static/css/bloquesCentro.css" rel="stylesheet" id="bootstrap-css">
</head>
<div class="container">
<div class="well">
    <h1>Listado de Productos</h1>
    <!--
    <select name="categoria">
        <option>--Selecciona la categoria --</option>
        <option>Refrescos</option>
        <option>Calzado</option>
        <option>Varios</option>
    </select>-->

    <table  class="table table-striped">
        <THEAD>
            <TH>ID</TH>
            <TH>NOMBRE</TH>
            <TH>DESCRIPCION</TH>
            <TH>PRECIO</TH>
            <th>CATEGORIA</th>
            <TH>FOTO</TH>
            <TH>EDITAR</TH>
            <TH>ELIMINAR</TH>
        </THEAD>
        {% for prod in productos %}
            <tr>
                {% if prod.estatus == 'D' %}
                <td>{{prod.idProducto}}</td>
                <td><a href="/producto/verProducto/{{prod.idProducto}}">{{prod.nombre}}</a></td>
                <td>{{prod.descripcion}}</td>
                <td>{{prod.precioVenta}}</td>

                {% if prod.categoria == 'R' %}
                <td>Ropa</td>
                {% elif prod.categoria == 'C' %}
                <td>Consumible</td>
                {% elif prod.categoria == 'S' %}
                <td>Suvenirs</td>
                {% endif%}

                <td><img src="/productos/imagen/{{prod.idFoto}}" width="100px"></td>
                <td>
                    <a href="/productos/ver/{{prod.idProducto}}">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </a>
                </td>
                <td>
                    <a href="/productos/eliminar/{{prod.idProducto}}">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</div>
</div>
{% endblock %}