
{% extends "comunes/base.html" %}
{% block navbar %}
   {% include 'comunes/menu.html' %}
{% endblock %}
{% block principal %}
    <head>
         <link href="../static/css/estiloTarjetas.css" rel="stylesheet" id="bootstrap-css">

    </head>

    <div id="bloque">
    <h1 id="titulo">Registro de Prendas</h1>
            <form action="/productos/guardandoProductoRopa" method="post" enctype="multipart/form-data" >

                 <div  class="mb-3">
                    <label class="form-label">Nombre del producto</label>
                    <input  type="text" class="form-control"  placeholder="Ingresa el nombre del producto" maxlength="80" required name="nombre">
                 </div>
                 <div  class="mb-3">
                    <label class="form-label">Descripcion</label>
                    <input  type="text" class="form-control"  placeholder="Ingresa la descripcion del producto" maxlength="80" required name="descripcion">
                 </div>
                 <div  class="mb-3">
                    <label  class="form-label">Precio Venta</label>
                    <input  type="text" class="form-control" placeholder="Ingresa el precio del producto" maxlength="80" required name="precioVenta">
                 </div>
                 <div  class="mb-3">
                    <label class="form-label">Estatus</label>
                    <input type="radio" name="estatus" checked>Disponible
                    <input type="radio" name="estatus" >No disponible
                 </div>

                 <div  class="mb-3">
                    <label class="form-label">Unidades en existencia</label>
                    <input  type="text" class="form-control"  placeholder="Ingresa las unidades en existencia" maxlength="80" required name="unidades">
                 </div>
                 <div  class="mb-3">
                    <label  class="form-label">Color</label>
                    <input  type="text" class="form-control"  placeholder="Ingresa el color de la prenda" maxlength="80" required name="color">
                 </div>
                 <div  class="mb-3">
                    <label class="form-label">Genero</label>
                     <select id="cajaTexto" class="form-label" required name="genero">
                         <option>Selecciona una opcion</option>
                         <option>Hombre</option>
                         <option>Mujer</option>
                         <option>Ambos</option>
                    </select>
                 </div>

                 <div  class="mb-3">
                    <label class="form-label">Talla</label>
                     <select id="cajaTexto" class="form-label" required name="nombreTalla">
                         <option>Selecciona una opcion</option>
                         {% for ta in tallas %}
                         <option>{{ta.nombreTalla}}</option>
                         {% endfor %}
                     </select>
                 </div>

                <div  class="mb-3">
                    <label class="form-label">Medidas</label>
                     <select id="cajaTexto" class="form-label" required name="medidas">
                         <option>Selecciona una opcion</option>

                     </select>
                 </div>

                <div class="form-group">
                    <label>Imagen:</label>
                    <input type="file" name="foto" class="form-control" placeholder="Imagen de la categoria">
                 </div>
            <br>
        <nav id="bloqueBotones">
            <button type="submit" class="btn btn-success">Guardar</button>
            <a href="/" class="btn btn-warning">Regresar</a>
        </nav>
    </form>
        <br>
    </div>
    {% if get_flashed_messages() %}
    <div id="mensajeAlert" class="alert alert-success alert-dismissible">
        {% for message in get_flashed_messages() %}
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{message}}</strong>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}