{% extends "comunes/base.html" %}
{% block navbar %}
   {% include 'comunes/menu.html' %}
{% endblock %}
{% block principal %}
    <head>
         <link href="../static/css/estiloTarjetas.css" rel="stylesheet" id="bootstrap-css">
    </head>

    <div id="bloque">
    <h1 id="titulo">Registro de producto comestible</h1>
        <form action="/productos/guardandoProductoConsumible" method="post" enctype="multipart/form-data">
            <div  class="mb-3">
                <label for="caja" class="form-label">Nombre del producto</label>
                <input  type="text" class="form-control" id="caja" placeholder="Ingresa el nombre del producto" maxlength="80" required name="nombre">
            </div>
            <div  class="mb-3">
                <label for="caja" class="form-label">Descripcion</label>
                <input  type="text" class="form-control" id="caja" placeholder="Ingresa la descripsion del producto" maxlength="80" required name="descripcion">
            </div>
            <div  class="mb-3">
                <label for="caja" class="form-label">Precio de venta</label>
                <input  type="text" class="form-control" id="caja" placeholder="Ingresa el precio de venta" maxlength="80" required name="precioVenta">
            </div>
            <div  class="mb-3">
                    <label class="form-label">Estatus</label>
                    <input type="radio" name="estatus" checked>Existente
                    <input type="radio" name="estatus" >Agotado
            </div>
            <div  class="mb-3">
                <label for="caja" class="form-label">Unidades en existencia</label>
                <input  type="text" class="form-control" id="caja" placeholder="Ingresa la categoria" maxlength="80" required name="unidades">
            </div>
            <div  class="mb-3">
                    <label class="form-label">Tipo de sabor</label>
                     <select id="cajaTexto" class="form-label" required name="tipo">
                         <option>Selecciona una opcion</option>
                         {% for sa in sabor %}
                            <option>{{sa.nombreSabor}}</option>
                         {% endfor %}
                     </select>
            </div>
            <div class="form-group">
                    <label>Imagen:</label>
                    <input type="file" name="foto" class="form-control" placeholder="Imagen de la categoria">
            </div>

            <br>
            <nav id="bloqueBotones">
            <button type="submit" class="btn btn-success">Guardar</button>
            <a href="/" class="btn btn-warning">Regresar</a>
            </nav>
        </form>
    </div>
    <br>
    </div>
    {% if get_flashed_messages() %}
    <div id="mensajeAlert" class="alert alert-success alert-dismissible">
        {% for message in get_flashed_messages() %}
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{message}}</strong>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}