{% extends "comunes/base.html" %}
{% block navbar %}
{% include 'comunes/menu.html' %}
{% endblock %}
{% block principal %}
<div class="well">

    <h1>Descuentos</h1>
        <table class = "table">
            <thead>
                <th>idDescuento</th>
                <th>Producto</th>
                <th>Imagen</th>
                <th>fechaInicio</th>
                <th>fechaFin</th>
                <th>Porcentaje de Descuento</th>
            {% if current_user.is_authenticated and current_user.is_admin() %}
                <th>Editar</th>
                <th>Eliminar</th>
            {% endif %}
            </thead>
            {% for desc in descuento %}
            <tr>
                <td>{{desc.idDescuento}}</td>
                <td>{{desc.producto.nombre}}</td>
                <td><img src="/productos/imagen/{{desc.producto.idFoto}}" width="100px"></td>
                <td>{{desc.fechaInicio}}</td>
                <td>{{desc.fechaFin}}</td>
                <td>{{desc.descuento}}</td>
                {% if current_user.is_authenticated and current_user.is_admin() %}
                <td>
                    <a href="#">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </a>
                </td>
                <td>
                    <a href="#">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            {% endif %}
            </tr>
            {% endfor %}

        </table>
</div>
{% endblock %}