{% extends "comunes/base.html" %}
{% block navbar %}
{% include 'comunes/menu.html' %}
    {{super()}}
    <script src="{{url_for('static',filename='js/descuentos.js')}}"></script>
{% endblock %}
{% block principal %}
    <head>
         <link href="../static/css/estiloTarjetas.css" rel="stylesheet" id="bootstrap-css">
    </head>
	<div id="bloque">
        <h1 id="titulo">Registro de descuentos</h1>
        <form action="/descuento/validandoDescuento" method="post" onsubmit="return validar(this)">
             <div  class="mb-3">
                 <label  class="form-label">Producto</label>
                  <select id="cajaTexto" class="form-label" required name="producto">
                         <option>Selecciona una opcion</option>
                         {% for pro in productos %}
                            <option value="{{pro.idProducto}}">{{pro.nombre}}</option>
                         {% endfor %}
                  </select>
             </div>
            <div  class="mb-3">
                 <label  class="form-label">Inicio del descuento</label>
                <!--cambiar formato de fecha-->
                <input  type="date" class="form-control"  placeholder="Ingresa el numero de la tarjeta" maxlength="80" id="fechaInicio" required name="fechaInicio">
             </div>
            <div  class="mb-3">
                 <label  class="form-label">Fin del descuento</label>
                 <input  type="date" class="form-control"  placeholder="Ingresa el numero de la tarjeta" maxlength="80" id="fechaFin" required name="fechaFin">
             </div>
            <div  class="mb-3">
                 <label  class="form-label">Porcentaje de descuento</label>
                 <input  type="text" class="form-control"  placeholder="Ingresa el porcentaje de descuento" maxlength="3" required name="descuentoPorcentaje">
             </div>
            <br>
            <nav id="bloqueBotones">
                <button type="submit" class="btn btn-success">Registrar</button>
                <a href="/" class="btn btn-warning">Regresar</a>
            </nav>
            <br>
            <div id="notificaciones" style="width: 400px; margin: 0 auto; background-color: brown; color: white;">
            </div>
        </form>
    </div>
    <br>
{% endblock %}