{% extends "comunes/base.html" %}
{% block navbar %}
{% include 'comunes/menu.html' %}
{% endblock %}
{% block principal %}
    <head>
         <link href="../static/css/estiloTarjetas.css" rel="stylesheet" id="bootstrap-css">
    </head>
	<div id="bloque">
        <h1 id="titulo">Registro de descuentos</h1>
        <form action="/descuento/validandoDescuento" method="post">
             <div  class="mb-3">
                 <label  class="form-label">Producto</label>
                  <select id="cajaTexto" class="form-label" required name="producto">
                         <option>Selecciona una opcion</option>
                         {% for pro in productos %}
                            <option value="{{pro.idProducto}}">{{pro.nombre}}</option>
                         {% endfor %}
                  </select>
             </div>
            <div  class="mb-3">
                 <label  class="form-label">Inicio del descuento</label>
                <!--cambiar formato de fecha-->
                <input  type="date" class="form-control"  placeholder="Ingresa el numero de la tarjeta" maxlength="80" required name="tarjeta">
             </div>
            <div  class="mb-3">
                 <label  class="form-label">Fin del descuento</label>
                 <input  type="date" class="form-control"  placeholder="Ingresa el numero de la tarjeta" maxlength="80" required name="tarjeta">
             </div>
            <div  class="mb-3">
                 <label  class="form-label">Porcentaje de descuento</label>
                 <input  type="number" class="form-control"  placeholder="Ingresa el porcentaje de descuento" maxlength="80" required name="descuentoPorcentaje">
             </div>
            <br>
            <nav id="bloqueBotones">
                <button type="submit" class="btn btn-success">Registrar</button>
                <a href="/" class="btn btn-warning">Regresar</a>
            </nav>
        </form>
    </div>
    <br>
        {% if get_flashed_messages() %}
    <div id="mensajeAlert" class="alert alert-success alert-dismissible">
        {% for message in get_flashed_messages() %}
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{message}}</strong>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}