
{% extends "comunes/base.html" %}
{% block navbar %}
   {% include 'comunes/menu.html' %}
{% endblock %}
{% block principal %}
    <head>
        <link href="../static/css/bloquesCentro.css" rel="stylesheet" id="bootstrap-css">
    </head>
    <main id="bloque">
        <h1 id="titulo">Datos del Domicilio</h1>
            <form action="/usuarios/editarUsuario" method="post">
                <label>Nombre de la persona</label>
                <input id="caja" type="text" required name="NombreDelQueRecibe" placeholder="Ingresa nombre de la persona que recibe" maxlength="80" value="Mario Eduardo">
                <br>

                <label>Calle</label>
                <input id="caja" type="text" required  name="Calle" placeholder="Ingresa el nombre de tu calle" maxlength="80" value="Madero">
                <br>

                <label>Codigo Postal</label>
                <input id="caja" type="text" required name="Codigo" placeholder="Ingresa tu código postal" maxlength="5" value="59780">
                <br>

                <label>Provincia</label>
                <input id="caja" type="text" required name="Provincia" placeholder="Ingresa tu estado o provincia" maxlength="80" value="Michoacán">
                <br>

                <label>Ciudad</label>
                <input id="caja" type="text" required name="Ciudad" placeholder="Ingresa tu ciudad" maxlength="80" value="Chilchota">
                <br>

                <label>Colonia</label>
                <input id="caja" type="text" required name="Colonia" placeholder="Ingresa tu colonia" maxlength="80" value="centro">
                <br>

                <label>Instrucción</label>
                <input id="caja" type="text" name="Instuccion" placeholder="Ingresa una instruccion" maxlength="200" value="A un costado de una tienda">
                <br>

                <div id="bloqueBotones">
                    <button type="submit" class="btn btn-success">Guardar Cambios</button>
                    <a href="/usuarios/editarUsuario" class="btn btn-warning">Regresar</a>
                </div>

            </form>
    </main>
{% endblock %}