
{% extends "comunes/base.html" %}
{% block navbar %}
{% include 'comunes/menu.html' %}
    {{super()}}
    <script src="{{url_for('static',filename='js/direccion.js')}}"></script>
{% endblock %}
{% block principal %}
    <head>
        <link href="../static/css/bloquesCentro.css" rel="stylesheet" id="bootstrap-css">
    </head>
    <div id="bloque">
        <h1 id="titulo">Datos del Domicilio</h1>
            <form action="/usuarios/guardarDireccion" method="post" onsubmit="return validar(this)">
                <div class="mb-3">
                    <label for="caja" class="form-label">idDireccion</label>
                    <input value="{{direccion.idDireccion}}" readonly type="text" class="form-control" id="caja" placeholder="IdDireccion" maxlength="80" required name="idDireccion">
                </div>
                <div  class="mb-3">
                    <label for="caja" class="form-label">Calle y Numero</label>
                    <input value="{{direccion.calle}}" type="text" class="form-control" id="caja" placeholder="Ingresa la calle y número" maxlength="80" required name="calle">
                 </div>
                <div  class="mb-3">
                    <label for="caja" class="form-label">Codigo Postal</label>
                    <input value="{{direccion.codigoPostal}}" type="text" class="form-control" id="caja" placeholder="Ingresa tu código postal" maxlength="5" required name="codigo">
                </div>

                <div  class="mb-3">
                    <label for="caja" class="form-label">Descripcion</label>
                    <input value="{{direccion.descripcion}}" type="text" class="form-control" id="caja" placeholder="Ingresa una descripción" maxlength="80" required name="descripcion">
                </div>
                <div  class="mb-3">
                    <label for="caja" class="form-label">Ciudad</label>
                    <input value="{{direccion.ciudad}}" type="text" class="form-control" id="caja" placeholder="Ingresa tu ciudad" maxlength="80" required name="ciudad">
                </div>
                <div  class="mb-3">
                    <label for="caja" class="form-label">Colonia</label>
                    <input value="{{direccion.colonia}}" type="text" class="form-control" id="caja" placeholder="Ingresa tu colonia" maxlength="80" required name="colonia">
                </div>
                <div  class="mb-3">
                    <label for="caja" class="form-label">Instruccion</label>
                    <input value="{{direccion.instruccionEntrega}}" type="text" class="form-control" id="caja" placeholder="Ingresa alguna instrucción" maxlength="80" required name="instruccion">
                </div>
                <br>
                <div id="bloqueBotones">
                    <button type="submit" class="btn btn-success">Guardar Cambios</button>
                    <a href="/usuarios/editarUsuario" class="btn btn-warning">Regresar</a>
                </div>
                <br>
                <div id="notificaciones" style="width: 500px; margin: 0 auto; background-color: brown; color: white;">
                </div>

            </form>

        <br>
        {% if get_flashed_messages() %}
        <div id="mensajeAlert" class="alert alert-success alert-dismissible">
        {% for message in get_flashed_messages() %}
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{message}}</strong>
        {% endfor %}
        </div>
        {% endif %}
    </div>
{% endblock %}