
{% extends "comunes/base.html" %}
{% block navbar %}
   {% include 'comunes/menu.html' %}
{% endblock %}
{% block principal %}
<head>
	<link href="../static/css/bloquesCentro.css" rel="stylesheet" id="bootstrap-css">
</head>

<div id="bloque">
    <h1>Listado de Sugerenciaas</h1>
    <table id="tabla" border="1" class="table table-striped table-hover">
        <thead>
            <th>Nombre</th>
            <th>Email</th>
            <th>Producto</th>
            <th>Comentario</th>
        </thead>
        <tr>
            <td>Mario Eduardo </td>
            <td>mpalato389@accitesz.com</td>
            <td>Playera eternal skull</td>
            <td>Buena calidad</td>
        </tr>
        <tr>
            <td>Jaime Castel</td>
            <td>jcastel400@accitesz.com</td>
            <td>Cinturon</td>
            <td>No llego a tiempo</td>
        </tr>
    </table>
</div>
{% endblock %}