{% extends "comunes/base.html" %}
{% block navbar %}
{% include 'comunes/menu.html' %}
{% endblock %}
{% block principal %}
<head>
	<link href="../static/css/bloquesCentro.css" rel="stylesheet" id="bootstrap-css">
</head>

<div class="welll">
    <h1>Listado de Sugerenciaas</h1>
    <table class="table">
        <thead>
            <th>idSugerencia</th>
            <th>Email</th>
            <th>Comentario</th>
            <th>Fecha</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </thead>
        {% for sug in sugerencias %}
        <tr>
            <td>{{sug.idSugerencias}}</td>
            <td>{{sug.usuario.correo}}</td>
            <td>{{sug.comentario}}</td>
            <td>{{sug.fecha}}</td>
            <td>
                <a href="#">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </a>
            </td>
            <td>
                <a href="#">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}