{% extends "comunes/base.html" %}
{% block navbar %}
{% include 'comunes/menu.html' %}
{% endblock %}
{% block principal %}
<head>
	<link href="../static/css/bloquesCentro.css" rel="stylesheet" id="bootstrap-css">
</head>
<div class="container">
<div class="well">
    <h1>Listado de Sugerencias</h1>
    <table class="table">
        <thead>
            <th>idSugerencia</th>
            <th>Email</th>
            <th>Comentario</th>
            <th>Fecha</th>
            <th>Eliminar</th>
        </thead>
        {% for sug in sugerencias %}
        <tr>
            <td>{{sug.idSugerencias}}</td>
            <td>{{sug.usuario.correo}}</td>
            <td>{{sug.comentario}}</td>
            <td>{{sug.fecha}}</td>

            <td>
                <a href="/sugerencia/eliminar/{{sug.idSugerencias}}">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
<br>
    {% if get_flashed_messages() %}
    <div id="mensajeAlert" class="alert alert-success alert-dismissible">
        {% for message in get_flashed_messages() %}
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{message}}</strong>
        {% endfor %}
    </div>
    {% endif %}
    </div>
{% endblock %}