{% extends "comunes/base.html" %}
{% block navbar %}
{% include 'comunes/menu.html' %}
{% endblock %}
{% block principal %}
    <head>
        <link href="../static/css/bloquesCentro.css" rel="stylesheet" id="bootstrap-css">
    </head>

    <div id="bloque">
        <h1>Enviar Sugerencia</h1>
        <form action="/sugerencias/validarSugerencia" method="post">
            <div  class="mb-3">
                <label for="caja" class="form-label">Nueva Sugerencia</label>
                <textarea  type="text" class="form-control" id="caja" placeholder="Ingresa tu sugerencia" maxlength="510" required name="comentario"></textarea>
            </div>
            <br>
            <button class="btn btn-success" type="submit" >Enviar Sugerencia</button>
        </form>
    </div>

    {% if get_flashed_messages() %}
    <div id="mensajeAlert" class="alert alert-success alert-dismissible">
        {% for message in get_flashed_messages() %}
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{message}}</strong>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}
