
{% extends "comunes/base.html" %}
{% block navbar %}
   {% include 'comunes/menu.html' %}
{% endblock %}
{% block principal %}
    <head>
        <link href="../static/css/bloquesCentro.css" rel="stylesheet" id="bootstrap-css">
    </head>

    <div id="bloque">
        <h1>Nueva Sugerencia</h1>
        <form action="" method="post">
               <label for="caja">Nombre:</label>
               <input  type="text" id="caja" name="user_name"/>
                <br>
               <label for="caja">Correo electrónico:</label>
               <input  type="email" id="caja" height="" name="user_email" />
                <br>
               <label for="caja">Comentario:</label>
               <textarea id="cajaComentario" name="user_message"></textarea>
                <br>
            <button class="btn btn-success" type="submit" >Enviar Sugerencia</button>
            <a href="/" class="btn btn-warning">Regresar</a>
        </form>
    </div>
{% endblock %}
