{% extends "comunes/base.html" %}
{% block navbar %}
{% include 'comunes/menu.html' %}
{% endblock %}
{% block principal %}
<head>
	<link href="../static/css/bloquesCentro.css" rel="stylesheet" id="bootstrap-css">
</head>
<div class="container">
<div class="well">
    <h1>Listado de Tarjetas</h1>
    <table class="table">
        <thead>
            <th>ID</th>
            <th>USUARIO</th>
            <th>NUMERO TARJETA</th>
            <th>EMISORA</th>
            <th>FECHA DE VIGENCIA</th>
            <th>TIPO</th>
            <th>CVC</th>
            <th>ELIMINAR</th>
        </thead>
        {% for t in tarjetas %}
            <tr>
                <td>{{t.idTarjeta}}</td>
                <td>{{t.usuario.nombre}}</td>
                <td>{{t.numTarjeta}}</td>
                <td>{{t.emisora}}</td>
                <td>{{t.fechaVigencia}}</td>
                <td>{{t.tipo}}</td>
                <td>{{t.cvc}}</td>
                 <td>
                      <a href="/tarjeta/eliminar/{{t.idTarjeta}}">
                         <span class="glyphicon glyphicon-trash"></span>
                      </a>
                 </td>
            </tr>
        {% endfor %}
    </table>
    <br>
        {% if get_flashed_messages() %}
        <div id="mensajeAlert" class="alert alert-success alert-dismissible">
            {% for message in get_flashed_messages() %}
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>{{message}}</strong>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}