
{% extends "comunes/base.html" %}
{% block navbar %}
   {% include 'comunes/menu.html' %}
{% endblock %}
{% block principal %}
<head>
	<link href="../static/css/bloquesCentro.css" rel="stylesheet" id="bootstrap-css">
</head>
{% if current_user.is_authenticated and current_user.is_admin() %}
<div class="container">
<div class="well">
    <h1>Listado de Usuarios</h1>
    <!--<a href="/usuarios/registrarNuevo"  ><img src="{{url_for('static',filename='imagenes/añadir.png')}}" >Nuevo</a>-->
    <br>
    <table class="table">
        <thead class="thead">
            <th>idUsuario</th>
            <th>Nombre</th>
            <th>Telefono</th>
            <th>Tipo</th>
            <th>Correo</th>
            <th>Contraseña</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </thead>
        {% for usu in usuarios %}
        <tr>
            <td>{{usu.idUsuario}}</td>
            <td>{{usu.nombre}}</td>
            <td>{{usu.telefono}}</td>
            <td>{{usu.tipo}}</td>
            <td>{{usu.correo}}</td>
            <td>{{usu.contrasena}}</td>
            <td>
                <a href="/usuarios/editar/{{usu.idUsuario}}">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </a>
                </td>
            <td>
                {% if (current_user.idUsuario == usu.idUsuario) %}

                {% else %}
                <a href="/usuarios/eliminar/{{usu.idUsuario}}">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
        {% if get_flashed_messages() %}
        <div id="mensajeAlertUsuario" class="alert alert-success alert-dismissible">
        {% for message in get_flashed_messages() %}
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{message}}</strong>
        {% endfor %}
        </div>
        {% endif %}
</div>
</div>
{% endif %}
{% endblock %}