{% extends "comunes/base.html" %}
{% block navbar %}
   {% include 'comunes/menu.html' %}
    {{super()}}
    <script src="{{url_for('static',filename='js/usuarios.js')}}"></script>
{% endblock %}
{% block principal %}
    <head>
        <link href="../static/css/bloquesCentro.css" rel="stylesheet" id="bootstrap-css">
    </head>
<div class="container">
    <div class="well">
        <h1>Editar Usuario</h1>
        <form action="/usuarios/editandoUsuarioUnico" method="post" onsubmit="return validar(this)">
             <div  class="mb-3">
                <label for="caja" class="form-label">idUsuario</label>
                <input value="{{usuario.idUsuario}}" readonly type="text" class="form-control" id="caja" placeholder="Ingresa tu nombre completo" maxlength="80" required name="idUsuario">
             </div>
            <div class="mb-3">
                <label for="caja" class="form-label">Correo</label>
                <input  value="{{usuario.correo}}" type="email" class="form-control" id="caja" name="email" placeholder="Ingresa tu correo electronico" required readonly onblur="consultarEmail()">
             </div>
            <div  class="mb-3">
                <label for="caja" class="form-label">Nombre</label>
                <input value="{{usuario.nombre}}" type="text" class="form-control" id="caja" placeholder="Ingresa tu nombre completo" maxlength="80" required name="nombrecompleto">
             </div>
            <div class="mb-3">
                <label for="caja" class="form-label">Telefono</label>
                <input value ="{{usuario.telefono}}" maxlength="10" type="text" class="form-control" id="caja" name="telefono" placeholder="##########" required>
             </div>
             <div class="mb-3">
                <label for="caja" class="form-label">Contraseña</label>
                <input value="{{usuario.contrasena}}" type="password" class="form-control" id="password" name="password" placeholder="Ingresa una contraseña" required>
                <label class="checkbox-inline">
                    <input type="checkbox" id="verPassword" onclick="ver()">Ver contraseña
                 </label>
             </div>
             <div class="mb-3">
                <label for="caja" class="form-label">Tipo</label>

                 {% if usuario.tipo == 'Admin' %}
                 <input type="radio" name="tipo" checked>Administrador
                 <input type="radio" name="tipo">Cliente
                 {% endif %}

                 {% if usuario.tipo == 'Cliente' %}
                 <input type="radio" name="tipo" >Administrador
                 <input type="radio" name="tipo" checked>Cliente
                 {% endif %}
             </div>

             <div class="mb-3">
                 <label for="caja">Estatus</label>
                 {% if usuario.estatus == 1%}
                 <input  type="checkbox" name="estatus" checked>
                 {% else %}
                 <input  type="checkbox" name="estatus" >
                 {% endif %}
             </div>
            <div>
                <button type="submit" class="btn btn-success">Guardar Cambios</button>
            </div>
            <div id="notificaciones" style="width: 500px; margin: 0 auto; background-color: brown; color: white;">
            </div>

        </form>
        <br>
        {% if get_flashed_messages() %}
        <div id="mensajeAlert" class="alert alert-success alert-dismissible">
        {% for message in get_flashed_messages() %}
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{message}}</strong>
        {% endfor %}
        </div>
        {% endif %}

    </div>
</div>




{% endblock %}
