{% extends "comunes/base.html" %}
{% block navbar %}
   {% include 'comunes/menu.html' %}
    {{super()}}
    <script src="{{url_for('static',filename='js/usuarios.js')}}"></script>
{% endblock %}
{% block principal %}
    <head>
         <link href="../static/css/bloquesCentro.css" rel="stylesheet" id="bootstrap-css">
    </head>
    <div id="bloque">
        <h1>Registro de Usuario</h1>
        <form action="/usuarios/creacionCuenta" method="post" onsubmit="return validar(this)">
             <div  class="mb-3">
                <label for="caja" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="caja" placeholder="Ingresa tu nombre completo" maxlength="80" required name="nombrecompleto">
             </div>
             <div class="mb-3">
                <label for="caja" class="form-label">Telefono</label>
                <input type="text" class="form-control" id="caja" name="telefono" placeholder="##########" required>
             </div>

             <div class="mb-3">
                <label for="caja" class="form-label">Correo</label>
                <input type="email" class="form-control" id="caja" name="email" placeholder="Ingresa tu correo electronico" required onblur="consultarEmail()>
             </div>

             <div class="mb-3">
                <label for="caja" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Ingresa una contraseña" required>

                 <label class="checkbox-inline">
                    <input type="checkbox" id="verPassword" onclick="ver()">Ver contraseña
                 </label>

             </div>
             <div class="mb-3">
                <label for="caja" class="form-label">Tipo</label>
                <input type="radio" name="tipo">Administrador
                <input type="radio" name="tipo">Cliente
             </div>

             <div class="mb-3">
                 <label for="caja">Estatus</label>
                 <input  type="checkbox" name="estatus" checked>
             </div>


            <div class="mb-3">
                <button type="submit" class="btn btn-success">Registrar</button>
                <a href="/usuarios/login" class="btn btn-warning">Regresar</a>
            </div>
            <br>
            <div id="notificaciones" style="width: 500px; margin: 0 auto; background-color: brown; color: white;">
            </div>
        </form>
        <br>
        {% if get_flashed_messages() %}
        <div id="mensajeAlert" class="alert alert-success alert-dismissible">
        {% for message in get_flashed_messages() %}
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{message}}</strong>
        {% endfor %}
        </div>
        {% endif %}
   </div>

{% endblock %}