{% extends "comunes/base.html" %}
{% block navbar %}
   {% include 'comunes/menu.html' %}
{% endblock %}
{% block principal %}
    <head>
         <link href="../static/css/bloquesCentro.css" rel="stylesheet" id="bootstrap-css">
    </head>
    <main id="bloque">
        <h1>Registro de Usuario</h1>
        <form action="/usuarios/creacionCuenta" method="post">
            <label>Nombre</label>
            <input id="caja" type="text" required name="nombre" placeholder="Ingresa tu nombre completo" maxlength="80">
            <br>
            <label>Teléfono</label>
            <input id="caja" type="tel" required name="telefono" placeholder="###-###-####">
            <br>
            <label>Correo</label>
            <input id="caja" type="email" required name="telefono" placeholder="Ingresa tu correo" maxlength="80">
            <br>
            <label>Contraseña</label>
            <input id="caja" type="password" required name="contrasena" placeholder="Ingresa tu contraseña" maxlength="50">
            <input type="checkbox"> Ver Contraseña
            <br>
            <label>Tipo:</label>
            <input type="radio" name="tipo">Administrador
            <input type="radio" name="tipo">Cliente
            <br>
            <label>Estatus</label>
            <input  type="checkbox" name="estatus" checked>
            <br>

            <button type="submit" class="btn btn-success">Registrar</button>
            <a href="/" class="btn btn-warning">Regresar</a>
        </form>
    </main>
{% endblock %}