{% extends "comunes/base.html" %}
{% block navbar %}
   {% include 'comunes/menu.html' %}
{% endblock %}
{% block principal %}
<div class="container">
    <div id="bloque">
        <h1>Editar talla</h1>
        <form action="/tallas/editandoTalla" method="post">
            <div  class="mb-3">
                <label for="caja" class="form-label">ID</label>
                <input type="number" name="idTalla" value="{{t.idTalla}}" class="form-control" readonly>
             </div>
             <div  class="mb-3">
                <label for="caja" class="form-label">Nombre</label>
                <input type="text" name="nombreTalla" class="form-control" placeholder="Nombre de la talla" value="{{t.nombreTalla}}" maxlength="60" required>
             </div>
             <div class="mb-3">
                <label for="caja" class="form-label">Medidas</label>
                <input type="text" name="medidas" class="form-control" placeholder="Medidas" value="{{t.medidas}}" maxlength="60" required>
             </div>
            <br>
            <div class="mb-3">
                <button type="submit" class="btn btn-success">Guardar Cambios</button>
                <a href="/tallas/consultar" class="btn btn-warning">Regresar</a>
            </div>
        </form>
        <br>
        {% if get_flashed_messages() %}
        <div id="mensajeAlert" class="alert alert-success alert-dismissible">
        {% for message in get_flashed_messages() %}
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{message}}</strong>
        {% endfor %}
        </div>
    </div>
</div>
        {% endif %}
{% endblock %}