{% extends "comunes/base.html" %}
{% block navbar %}
{% include 'comunes/menu.html' %}
{% endblock %}
{% block principal %}
<head>
  <link href="../static/css/bloquesCentro.css" rel="stylesheet" id="bootstrap-css">
</head>

<div class="well">
    <h1>Listado de Prendas</h1>
    <table class="table">
        <a href="/productos/prendas/nuevo"> </a>
        <THEAD>
            <TH>ID</TH>
            <TH>CATEGORIA</TH>
            <TH>TALLA</TH>
            <th>NOMBRE</th>
            <TH>STOCK</TH>
            <TH>COLOR</TH>
            <th>GENERO</th>
            <th>EDITAR</th>
            <th>ELIMINAR</th>
        </THEAD>
        {% for pren in prendas %}
            <tr>
                <td>{{pren.idPrenda}}</td>
                <td>{{pren.Productos_idProducto}}</td>
                <td>{{pren.talla.nombreTalla}}</td>
                <td>{{pren.producto.nombre}}</td>
                <td>{{pren.unidadesExistencia}}</td>
                <td>{{pren.color}}</td>
                <td>{{pren.genero}}</td>
                <td>
                    <a href="/prendas/ver/{{pren.idPrenda}}">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </a>
                </td>
                 <td>
                    <a href="/prendas/eliminar/{{pren.idPrenda}}">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}